{% extends 'base.html.twig' %}
{% block stylsheets %}
{{parent()}}

<style>
.tooltip {
    display:none;
    /*background:transparent url(/media/img/tooltip/black_arrow.png);*/
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#eee;
  }
  
</style>

{% endblock %}
{% block body %}
<h1>{{device.name}}</h1>
<div class="span12 row">
	<form class="well" action="" method="POST">
		<label>Device name</label><input type="text" name="name" placeholder="{{device.name}}" />
		<label>IP</label><input type="text" name="ip" placeholder="{{device.ip}}" />
		<label>Password( <a id="ssh_desc" title="SSH is used by ControLVC to manage devices">SSH</a> )</label><input type="text" name="password">
		<input type="hidden" name="action" value="edit" />
		<label /><input type="submit" value="Submit" />
	</form>
</div>
{#
<div class="span12 row">
<pre>
{{dump(device)}}
</pre>
</div>
#}
{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript">
$( document ).ready(function() {
	$("#ssh_desc").tooltip();
	/*{
		content: 'SSH is the protocol ControlVC uses to connect to devices'
	});*/
});
</script>
{% endblock %}