{% extends 'base.html.twig' %}
{% block afternav %}
{% if app.user.level > 2 %}{% if max_devices > current_devices or max_devices == 0 %}
	<a href="/devices/new" CLASS="BTN BTN-SUCCESS" style="margin-top: 5px;">New Device</a>
{% endif %}{%endif %}
{% endblock %}
{% block body %}
<div class="span10">
	{% for device in devices %}
	<div class="row span10" style="border-bottom: 1px solid #ccc">
		<div class="span3">
		<strong>Name</strong>: {% if device.active == 1%}<a href="{{app.system.protocol}}://{{app.system.path}}/devices/view/{{device.id}}">{{device.name}}</a>{% else %}{{device.name}}{%endif %}<br />
		<strong>IP</strong>:{{device.ip}}<br />
		<strong>Status</strong>:{{device.status}}<br />
		
		</div>
		<div class="span1">
			<img src="assets/img/{% if device.online == 1 %}{% if device.status == 'In a call'%}camera{%else %}online{%endif %}{% else %}offline{% endif %}.png" alt="{% if device.online == 1 %}online{% else %}offline{% endif %}" title="{% if device.online == 1 %}{% if device.status == 'In a call'%}In a call{%else %}Online{%endif %}{% else %}Offline{% endif %}"/>
		</div>
	</div>
	{% else %}
	<div class="row span10">
	<p>You haven't added any devices yet!</p>
	</div>
	{% endfor %}
</div>
{#
<div class="span12">
	<pre>
	{{dump()}}

	</pre>
</div>
#}
{% endblock %}