{% extends 'base.html.twig' %}
{% block afternav %}
{% if app.user.level > 2 %}
	<a href="/devices/new" CLASS="BTN BTN-SUCCESS" style="margin-top: 5px;">New Device</a>
{% endif %}
{% endblock %}
{% block body %}
<div class="span10">
	{% for device in devices %}
	<div class="row span10" style="border-bottom: 1px solid #ccc">
	<div class="span2">
	<strong>Name</strong>: <a href="{{app.system.protocol}}://{{app.system.path}}/devices/view/{{device.id}}">{{device.name}}</a><br />
	<strong>IP</strong>:{{device.ip}}<br />
	<strong>Status</strong>:{{device.status}}<br />
	
	</div>
	<div class="span2" style="padding-top: 5px;"><input type="checkbox" id="{{device.id}}" {% if device.active%}checked="checked"{%endif%}/>
	</div>
	</div>
	{% else %}
	<div class="row span10">
	<p>You haven't added any devices yet!</p>
	</div>
	{% endfor %}
</div>
{#
<div class="span12">
	<pre>
	{{dump(devices)}}

	</pre>
</div>
#}
{% endblock %}
{% block stylesheets %}
{{parent()}}
<link href="/assets/css/jquery.ibutton.css" rel="stylesheet">
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="/assets/js/easing.js"></script>
<script src="/assets/js/jquery.ibutton.js"></script>
<script type="text/javascript">
$(document).ready(function() {
{% for device in devices %}
	
	$('#{{device.id}}').iButton({
	labelOn: "Active",
	labelOff: "Inactive",
		change: function($input) {
			var checkbox = $input.is(":checked") ? true : false;
			var id = $input.attr("id");
			$.post(
				'{{app.system.protocol}}://{{app.system.path}}/api/devices?action=enable',
				{id: id, active: checkbox},
				function(data) {
					console.log(data);
				}
			);
		}
	});
	{% endfor %}
});
</script>
{% endblock %}