{% extends 'base.html.twig' %}

{% block body %}
<div class="span10">
	{% for device in devices %}
	<div class="row span10" style="border-bottom: 1px solid #ccc">
		<div class="span3">
		<strong>Name</strong>:<a href="{{app.system.protocol}}://{{app.system.path}}/devices/view/{{device.id}}">{{device.name}}</a><br />
		<strong>IP</strong>:{{device.ip}}<br />
		<strong>Status</strong>:{{device.status}}<br />
		
		</div>
		<div class="span1">{# /apiV2/devices/{{device.id}}/screenshot.png?accessId={{app.accessId}}&expires={{app.quick_expire}}&signature={{app.quick_sig}}&app_key={{app.app_key}} #}
			<img src="{% if device.online == 1 %}{% if device.status == 'In a call'%}/devices/img/{{device.id}}{%else %}assets/img/online.png{%endif %}{% else %}assets/img/offline.png{% endif %}" alt="{% if device.online == 1 %}online{% else %}offline{% endif %}" width="50px" {% if device.status == 'In a call'%} style="margin-top: 11px;" {%endif%}title="{% if device.online == 1 %}{% if device.status == 'In a call'%}In a call{%else %}Online{%endif %}{% else %}Offline{% endif %}"/>
		</div>
	</div>
	{% else %}
	<div class="row span10">
	<p>You haven't added any devices yet!</p>
	</div>
	{% endfor %}
</div>
{#
<div class="span12">
	<pre>
	{{dump()}}

	</pre>
</div>
#}
{% endblock %}