{% extends 'base.html.twig' %}
{% block title%}{% if device.name == null%}ID: {{device.id}}{%else%}{{device.name}}{%endif%}{% endblock %}
{% block afterbrand %}

{% endblock %}
{% block name %}Device <div style="display: inline-block; line-height: 0;"><small>{% if device.name == null%}{{device.id}}{% else %}{{device.name}}{%endif%}<br />{{device.ip}}</small></div>
{% if device.own == 1 and device.verified == 0 %}
	{% if perms b-and app.permissions['devices/edit']%}
		<a class="btn btn-small btn-inverse noprint" href="{{root}}devices/verify/{{device.id}}">Verify Device</a>
	{% endif %}
{% endif %}
{% if device.own == 1 and device.verified == 1 %}
	{% if perms b-and app.permissions['devices/edit'] %}
		<a class="btn btn-small btn-inverse noprint" href="{{root}}devices/edit/{{device.id}}">Edit Device</a>
	{% endif %}
{% endif %}
{% endblock %}
{% block body %}
<p class="muted"><small>Updated: {{device.updated|date("M/d/y h:i:s a")}}</small></p>
<div class="row">
	<div class="span6">
		<h4>Last Call<small> | Call Duration: {{'%.2f'|format(duration.count)}} {{duration.scale}}</small></h4>
		{% for l in loss0 %}
			<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Average:{{'%.2f'| format(average_loss[l.name])}})  packets lost / minute<br />
			{%else %}
			<p>No calls within this period</p>
		{% endfor %}
	</div>
	<div class="span6">
		<h4>Last 7 Days<small>:{{call_counts[7]}} Calls</small></h4>
		{% for l in loss7 %}
			<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Average:{{'%.2f'| format(average_loss[l.name])}})  packets lost / minute<br />
			{%else %}
			<p>No calls within this period</p>
		{% endfor %}
	</div>
</div>
<div class="row">	<div class="span6">
		<h4>Last 30 Days<small>:{{call_counts[30]}} Calls</small></h4>
		{% for l in loss30 %}
			<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Average:{{'%.2f'| format(average_loss[l.name])}})  packets lost / minute<br />
			{%else %}
			<p>No calls within this period</p>
		{% endfor %}
	</div>
	<div class="span6">
		<h4>Last 60 Days<small>:{{call_counts[60]}} Calls</small></h4>
		{% for l in loss60 %}
			<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Average:{{'%.2f'| format(average_loss[l.name])}})  packets lost / minute<br />
			{%else %}
			<p>No calls within this period</p>
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="span6">
		<h4>Last 90 Days<small>:{{call_counts[90]}} Calls</small></h4>
		{% for l in loss90 %}
			<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Average:{{'%.2f'| format(average_loss[l.name])}})  packets lost / minute<br />
			{%else %}
			<p>No calls within this period</p>
		{% endfor %}
	</div>
	<div class="span6">
		<h4>Last 120 Days<small>:{{call_counts[120]}} Calls</small></h4>
		{% for l in loss120 %}
			<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Average:{{'%.2f'| format(average_loss[l.name])}})  packets lost / minute<br />
			{%else %}
			<p>No calls within this period</p>
		{% endfor %}
	</div>
</div>


{% endblock %}