{% extends 'base.html.twig' %}
{% block title%}{% if device.name == null%}ID: {{device.id}}{%else%}{{device.name}}{%endif%}{% endblock %}
{% block afterbrand %}

{% endblock %}
{% block name %}Device <div style="display: inline-block; line-height: 0;"><small>{% if device.name == null%}{{device.id}}{% else %}{{device.name}}{%endif%}<br />{{device.ip}}</small></div>
{% if device.own == 1 and device.verified == 0 %}
	{% if perms b-and app.permissions['devices/edit']%}
		<a class="btn btn-small btn-inverse noprint" href="{{root}}devices/verify/{{device.id}}">Verify Device</a>
	{% endif %}
{% endif %}
{% if device.own == 1 and device.verified == 1 %}
	{% if perms b-and app.permissions['devices/edit'] %}
		<a class="btn btn-small btn-inverse noprint" href="{{root}}devices/edit/{{device.id}}">Edit Device</a>
	{% endif %}
{% endif %}
{% endblock %}
{% block body %}
<p class="muted"><small>Updated: {{device.updated|date("M/d/y h:i:s a")}}</small></p>
<h2>Packets Lost per Minute</h2>
<div class="row">
	<div id="graph_container" class="span10 offset1"></div>
</div>
<div class="accordion" id="accordion2">
<div class="accordion-group">
<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
    Details
  </a>
</div>
<div id="collapseOne" class="accordion-body collapse span12">
  <div class="accordion-inner span12">
	<div class="row">
		<div class="span6">
			<h4>Last Call<small> | Call Duration: {{'%.2f'|format(duration.count)}} {{duration.scale}}</small></h4>
			{% for l in loss0 %}
				<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Avg:Global:{{'%.2f'| format(average_loss[l.name])}} | {{device.model}}: {{'%.2f'|format(device_averages[l.name])}})<br />
				{%else %}
				<p>No calls within this period</p>
			{% endfor %}
		</div>
		<div class="span6">
			<h4>Last 7 Days<small>:{{call_counts[7]}} Calls</small></h4>
			{% for l in loss7 %}
				<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Avg:Global:{{'%.2f'| format(average_loss[l.name])}} | {{device.model}}: {{'%.2f'|format(device_averages[l.name])}})<br />
				{%else %}
				<p>No calls within this period</p>
			{% endfor %}
		</div>
	</div>
	<div class="row">	<div class="span6">
			<h4>Last 30 Days<small>:{{call_counts[30]}} Calls</small></h4>
			{% for l in loss30 %}
				<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Avg:Global:{{'%.2f'| format(average_loss[l.name])}} | {{device.model}}: {{'%.2f'|format(device_averages[l.name])}})<br />
				{%else %}
				<p>No calls within this period</p>
			{% endfor %}
		</div>
		<div class="span6">
			<h4>Last 60 Days<small>:{{call_counts[60]}} Calls</small></h4>
			{% for l in loss60 %}
				<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Avg:Global:{{'%.2f'| format(average_loss[l.name])}} | {{device.model}}: {{'%.2f'|format(device_averages[l.name])}})<br />
				{%else %}
				<p>No calls within this period</p>
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h4>Last 90 Days<small>:{{call_counts[90]}} Calls</small></h4>
			{% for l in loss90 %}
				<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Avg:Global:{{'%.2f'| format(average_loss[l.name])}} | {{device.model}}: {{'%.2f'|format(device_averages[l.name])}})<br />
				{%else %}
				<p>No calls within this period</p>
			{% endfor %}
		</div>
		<div class="span6">
			<h4>Last 120 Days<small>:{{call_counts[120]}} Calls</small></h4>
			{% for l in loss120 %}
				<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Avg:Global:{{'%.2f'| format(average_loss[l.name])}} | {{device.model}}: {{'%.2f'|format(device_averages[l.name])}})<br />
				{%else %}
				<p>No calls within this period</p>
			{% endfor %}
		</div>
	</div>

  </div>
</div>
</div>

{% endblock %}

{% block javascripts %}
{{parent()}}

<script type="text/javascript" src="{{root}}assets/highcharts/js/highcharts.js"></script>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
    
            chart: {
                renderTo: 'graph_container',
                type: 'column'
            },
    
            title: {
                text: 'Packet Loss'
            },
    
            xAxis: {
                categories: [{% for name in loss_names%}'{{packetnames[name]}}',{%endfor%}],
            },
            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: 'Packets Lost per Minute'
                },

            },
    
            tooltip: {
            	formatter: function() {
                var s = '<b>'+ this.x +'</b>';
                
                $.each(this.points, function(i, point) {
                    s += '<br/>'+ point.series.name +': '+
                        Math.round(point.y * 1000) / 1000;
                });
                
                return s;
            },
            	shared: true,
        	},
    		credits: {
    			enabled: false
    		},
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
    
            series: [{
                name: 'Average Loss',
                data: [{% for loss in average_loss%}{{loss}},{%endfor%}],
            },
            {
                name: '{{device.model}} Average',
                data: [{% for loss in device_averages%}{{loss}},{%endfor%}],
            },
            {
                name: 'Last 7 Days',
                data: [{% for loss in loss7 %}{{loss.loss}},{%endfor%}],
            },
            {
                name: 'Last 30 Days',
                data: [{% for loss in loss30 %}{{loss.loss}},{%endfor%}],
            },
            {
                name: 'Last 60 Days',
                data: [{% for loss in loss60 %}{{loss.loss}},{%endfor%}],
            },
            {
                name: 'Last 90 Days',
                data: [{% for loss in loss90 %}{{loss.loss}},{%endfor%}],
            },
            {
                name: 'Last 120 Days',
                data: [{% for loss in loss120 %}{{loss.loss}},{%endfor%}],
            }]
        });
    });
});
</script>
{% endblock %}