{% extends 'base.html.twig' %}
{% block title%}{% if device.name == null%}ID: {{device.id}}{%else%}{{device.name}}{%endif%}{% endblock %}
{% block afterbrand %}

{% endblock %}
{% block name %}Device <small>{% if device.name == null%}{{device.id}}{% else %}{{device.name}}{%endif%}</small>
{% if device.own == 1 and device.verified == 0 %}
	{% if perms b-and app.permissions['devices/edit']%}
		<a class="btn btn-small btn-inverse noprint" href="{{root}}devices/verify/{{device.id}}">Verify Device</a>
	{% endif %}
{% endif %}
{% if device.own == 1 and device.verified == 1 %}
	{% if perms b-and app.permissions['devices/edit'] %}
		<a class="btn btn-small btn-inverse noprint" href="{{root}}devices/edit/{{device.id}}">Edit Device</a>
	{% endif %}
{% endif %}
{% endblock %}
{% block body %}
<p class="muted"><small>Updated: {{device.updated|date("M/d/y h:i:s a")}}</small></p>
{% for l in losses %}
	<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Average:{{'%.2f'| format(average_loss[l.name])}})  packets lost / minute<br />
{% endfor %}

{% endblock %}