{% extends 'base.html.twig' %}
{% block title%}{% if device.name == null%}ID: {{device.id}}{%else%}{{device.name}}{%endif%}{% endblock %}
{% block afterbrand %}

{% endblock %}
{% block name %}Device <small>{% if device.name == null%}{{device.id}}{% else %}{{device.name}}{%endif%}</small>
{% if device.own == 1 and device.verified == 0 %}
	{% if perms b-and app.permissions['devices/edit']%}
		<a class="btn btn-small btn-inverse noprint" href="{{root}}devices/verify/{{device.id}}">Verify Device</a>
	{% endif %}
{% endif %}
{% if device.own == 1 and device.verified == 1 %}
	{% if perms b-and app.permissions['devices/edit'] %}
		<a class="btn btn-small btn-inverse noprint" href="{{root}}devices/edit/{{device.id}}">Edit Device</a>
	{% endif %}
{% endif %}
{% endblock %}
{% block body %}
<p class="muted"><small>Updated: {{device.updated|date("M/d/y h:i:s a")}}</small></p>
<div class="row">
	<div class="span6">
		<h4>All Time</h4>
		{% for l in losses %}
			<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Average:{{'%.2f'| format(average_loss[l.name])}})  packets lost / minute<br />
			{%else %}
			<p>No calls within this period</p>
		{% endfor %}
	</div>
	<div class="span6">
		<h4>Last 30 Days</h4>
		{% for l in loss30 %}
			<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Average:{{'%.2f'| format(average_loss[l.name])}})  packets lost / minute<br />
			{%else %}
			<p>No calls within this period</p>
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="span6">
		<h4>Last 60 Days</h4>
		{% for l in loss60 %}
			<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Average:{{'%.2f'| format(average_loss[l.name])}})  packets lost / minute<br />
			{%else %}
			<p>No calls within this period</p>
		{% endfor %}
	</div>
	<div class="span6">
		<h4>Last 90 Days</h4>
		{% for l in loss90 %}
			<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Average:{{'%.2f'| format(average_loss[l.name])}})  packets lost / minute<br />
			{%else %}
			<p>No calls within this period</p>
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="span6">
		<h4>Last 7 Days</h4>
		{% for l in loss7 %}
			<span class="{% if l.loss < average_loss[l.name]%}good{%else%}bad{%endif%}">{{packetnames[l.name]}}: {{'%.2f'|format(l.loss)}}</span>(Average:{{'%.2f'| format(average_loss[l.name])}})  packets lost / minute<br />
			{%else %}
			<p>No calls within this period</p>
		{% endfor %}
	</div>
</div>
{% endblock %}