{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
	<h1>Enabled Alarms</h1>
</div>
<div class="row">
	<div class="span12">
		<div class="span3"><h3>Device Name</h3></div><div class="span3"><h3>Alarm</h3></div><div class="span3"><h3>Active</h3></div>
	</div>
	{% for alarm in alarms%}
	<div class="span12">
		<div class="span3"><a href="{{app.system.protocol}}://{{app.system.path}}/devices/alarms/{{alarm.device_id}}">{{alarm.name}}</a></div><div class="span3">{{alarm.description}}</div><div class="span3">{{alarm.active}}</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
