{% extends 'base.html.twig' %}
{% block afternav %}
<button id="add_alarm">Add Alarm</button>
{% endblock %}
{% block body %}
<table>
	<tr>
		<th>Alarm Name</th>
		<th>Alarm Description</th>
		<th>N</th>
		<th>Notification Sent</th>
	</tr>
{% for alarm in alarms %}
	<tr style="border-top: 1px solid #ccc;">
		<td style="border-right: 1px solid #ccc;margin-right: 10px; padding-right: 10px;">{{alarm.name}}</td>
		<td style="padding-left: 10px;border-right: 1px solid #ccc;margin-right: 10px; padding-right: 10px;">{{alarm.description}}</td>
		<td style="padding-left: 10px;border-right: 1px solid #ccc;margin-right: 10px; padding-right: 10px;">{{alarm.n}}</td>
		<td style="padding-left: 10px;border-right: 1px solid #ccc;margin-right: 10px; padding-right: 10px;">{{alarm.last_notified|date("m-d-Y h:i:s")}}</td>
		<td style="padding-left: 10px;"><div class="span2" style="padding-top: 5px;"><input type="checkbox" id="{{alarm.alarm_id}}" {% if alarm.active%}checked="checked"{%endif%}/>
		</div></td>
	</tr>
{% endfor %}
</table>
<br /><br />
<pre>
{{dump()}}
</pre>
{% endblock %}

{% block stylesheets %}
{{parent()}}
<link href="/assets/css/jquery.ibutton.css" rel="stylesheet">
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="/assets/js/easing.js"></script>
<script src="/assets/js/jquery.ibutton.js"></script>
<script type="text/javascript">
$(document).ready(function() {
{% for alarm in alarms %}
	
	$('#{{alarm.alarm_id}}').iButton({
	labelOn: "Active",
	labelOff: "Inactive",
		change: function($input) {
			var checkbox = $input.is(":checked") ? true : false;
			var id = $input.attr("id");
			$.post(
				'{{app.system.protocol}}://{{app.system.path}}/api/alarms?action=toggle',
				{id: id, active: checkbox, device: '{{alarm.device_id}}'},
				function(data) {
				}
			);
		}
	});
	{% endfor %}
	$('#add_alarm').click(function() {
		$.each(alarms, function(key, alarm) {
			console.log("ID: " + alarm.id + " | Name: " + alarm.name + " | Description: " + alarm.description);
		});
		//console.log(alarms);
	});

	var alarms = [{% for alarm in alarm_list %}{id:'{{alarm.id}}', name:'{{alarm.name}}', description : '{{alarm.description}}'},{% endfor %}];
});
</script>
{% endblock %}