{% extends 'base.html.twig' %}
{% block afternav %}
<a href="{{app.system.protocol}}://{{app.system.path}}/devices/new" class="btn">New Device</a>
{% endblock %}
{% block body %}
<div class="row">
	<h1>Devices</h1>
</div>
<div class="row">
<ul class="devices">
	{% for device in devices %}
		<li id="{{device.id}}"><a href="/devices/view/{{device.id}}">{{device.name}}</a> | <a href="javascript:deleteDevice('{{device.id}}')">Delete</a></li>
	{% endfor %}
	</ul>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript">
function deleteDevice(id) {
		console.log(id);
	if (window.confirm("Are you sure you want to delete this device?")){
		$.post(
			'{{app.system.protocol}}://{{app.system.path}}/api/device?action=delete',
			{id: id},
			function(data) {
				console.log(data);
				if(data == 'true') {
					$('#' + id).remove();
				}
			}
		);
	}
}
</script>
{% endblock %}