{% extends 'base.html.twig'%}
{% block title%}Users{% endblock %}
{% block name %}Users{% endblock %}
{% block afterbrand %}<a href="{{root}}users/add" class="right btn btn-small btn-success">New User</a>{% endblock %}
{% block body %}
<div class="row">
	<div class="span6">
		<ul class="userList">
			{% for user in users %}
			<li style="display: block; padding: 4px;" id="{{user.id}}">{{user.name}} ( <a href="mailto:{{user.email}}">{{user.email}}</a> )<span class="pull-right">{% if perms b-and app.permissions['users/index'] %} <a href="{{root}}users/view/{{user.id}}" style="padding-right: 15px;">View</a>{% endif %}{% if perms b-and app.permissions['users/edit'] %}<a href="{{root}}users/edit/{{user.id}}" style="padding-right: 15px;">Edit</a>{% endif %}{% if perms b-and app.permissions['users/delete'] %}<a href="javascript:deleteUser('{{user.id}}')" class="btn btn-mini btn-danger">Delete</a>{% endif %}</span></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript">
function deleteUser(id) {
	if (window.confirm("Are you sure you want to delete this user?")){
		$.post(
			'{{root}}users/delete',
			{id: id},
			function(data) {
				//console.log(data);
				if(data == true) {
					$('#' + id).remove();
				} else{
					alert("There was a problem, try again later");
				}
			}
		);
	}
}
</script>
{% endblock %}