{% extends 'base.html.twig'%}
{% block title%}Users{% endblock %}
{% block name %}Users{% endblock %}
{% block afterbrand %}<a href="{{root}}users/add" class="right btn btn-small btn-success">New User</a>{% endblock %}
{% block body %}
<div class="row">
	<div class="span6">
		<ul class="userList">
			{% for user in users %}
			<li id="{{user.id}}">{{user.name}}( <a href="mailto:{{user.email}}">{{user.email}}</a> ){% if perms b-and app.permissions['users/index'] %}: <a href="{{root}}users/view/{{user.id}}">View</a>{% endif %}{% if perms b-and app.permissions['users/edit'] %} | <a href="{{root}}users/edit/{{user.id}}">Edit</a>{% endif %}{% if perms b-and app.permissions['users/delete'] %} | <a href="javascript:deleteUser('{{user.id}}')">Delete</a>{% endif %}</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript">
function deleteUser(id) {
	if (window.confirm("Are you sure you want to delete this user?")){
		$.post(
			'{{root}}/users/delete',
			{id: id},
			function(data) {
				if(data == true) {
					$('#' + id).remove();
				}
			}
		);
	}
}
</script>
{% endblock %}