{% extends 'base.html.twig'%}
{% block title%}{{users.name}}{% endblock %}
{% block name %}{{users.name}}<small>{{users.email}}</small>{% endblock %}
{% block afterbrand %}
	{% if perms b-and app.permissions['users/edit'] %}
	<a href="{{root}}users/edit/{{users.id}}" class="right btn btn-small btn-success">Edit User</a>
	{% endif %}
{% endblock %}

{% block body %}
<div class="row">
	<div class="span12">
	Email: {{users.email}}
	</div>
	
</div>
{% endblock %}