{% extends 'base.html.twig'%}
{% block body %}
<div class="row">
	<div class="span2">
		<img src="http://www.gravatar.com/avatar/{{user.gravatar}}?d=mm"><br />
		<a href="/user/edit/{{user.id}}" style="margin-left: 8px;">Edit Profile</a>
	</div>
	<div class="span10">
		<h1>{{user.name}}<span class="small"><a href="mailto:{{user.email}}">{{user.email}}</a></small></h1>
		Created at: {{user.created|date('m/d/Y h:i:s a')}} by <span title="{{user.creator.id}}">{{user.creator.name}}</span>
	</div>
	<!-- {{dump(user)}} -->
</div>
{% endblock %}