{% extends 'base.html.twig' %}
{% block body %}
<div class="span12">
	<h2>Events</h2>
</div><div class="span12">
	<h3>Video Conferences</h3>
</div>
	<div class="span10 offset1"><div class="span7" style="text-align: center;"><h4>Details</h4></div><div class="span2" style="text-align: center;"><h4>Notes</h4></div></div>
{% for call in events.100 %}
	<div class="span10 offset1 well{% if call.start_time < now %} past{%endif %}"><div class="span7">{% if call.start_time < now %}<del>{%endif %}
		Scheduled<span title="{{call.start_time|date('m/d/Y h:i:s a', 'CST')}}">{% if call.start_time > now %} in about {{call.scheduled}}{% else %} about {{call.scheduled}}ago{% endif %}</span>{% if call.start_time < now %}</del><br />
		{{call.call.caller}} ({{call.call.caller_ip}}) called:{%else %}<br />
		{{call.call.caller}} ({{call.call.caller_ip}}) will be calling:{%endif %}
		<ul>
			{% for caller in call.call.in_call %}
			<li>{{caller}}</li>
			{% endfor %}
		</ul>
		</div>
	<div class="span2">
	{{call.notes}}
	</div>
	</div>
{% else %}
	<div class="span10 offset1">
		No VideoConferences Scheduled
	</div>
{% endfor %}
<div class="span12">
	<h3>Updates</h3>
</div>
{% for call in events.101 %}
	<div class="span10 offset1 well{% if call.start_time < now %} past{%endif %}"><div class="span7">{% if call.start_time < now %}
	
		<del>{%endif %}
		Scheduled{% if call.start_time > now %} in about {{call.scheduled}}{% else %} about {{call.scheduled}}ago{% endif %}{% if call.start_time < now %}</del>{% endif %}<br />
		{% if call.start_time > now %}Updating {%else%}Updated {%endif%}{{call.update.name}} from {{call.update.old_desc}} to {{call.update.new_desc}}
	</div>
	<div class="span2">
	{{call.notes}}
	</div>
	</div>
{% else %}
	<div class="span10 offset1">
		No VideoConferences Scheduled
	</div>
{% endfor %}
{#
<div class="span12">
<pre>
	{{dump(events.100)}}
</pre>
</div>
#}
{% endblock %}