{% extends 'base.html.twig' %}

{% block body %}
<h2>{{company.name}}</h2>
<p>Card on File:
{% if stripe.active_card == null %}
None <button class="add_card">Add a Card</button>
{% else %}
Ending in: <span id="last4">{{stripe.active_card.last4}}</span><span id="status" style="display: none;">Updated</span><!-- {{dump(stripe)}}--> <button class="add_card">Update Card</button>
{% endif %}
<pre>{{dump(company)}}</pre>

<pre>{{dump(stripe)}}</pre>

<div id="dialog-form" title="Add a Card">
	<p class="validateTips">All form fields are required.</p>

	<form>
	<fieldset>
		<Label>Cardholder Name</label>
		<input type="text" class="cardholder-name">
		<label>Card Number</label>
		<input type="text" class="card-number">
		<label>Expiration (MM/YYYY)</label>
		<input type="text" size="2" max="2" class="card-expiry-month" style="width: 30px;"/>
		<span> / </span>
		<input type="text" size="4" max="4" class="card-expiry-year" style="width: 50px;"/>
		<label>CVC</label>
		<input type="text" class="cvc" max="4" size="4">
	</fieldset>
	</form>
</div>

{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
Stripe.setPublishableKey('pk_BFy3j1xLJLvDkg2DjvbtWyyrvvGzc');

$(document).ready(function() {

		var name = $( ".cardholder-name" ),
			card = $( ".card-number" ),
			month = $( ".card-expiry-month" ),
			year = $(".card-expiry-year"),
			cvc = $(".cvc"),
			allFields = $( [] ).add( card ).add( month ).add( year ).add( cvc ).add( name );
		
		$( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 400,
			width: 250,
			modal: true,
			buttons: {
				"Add a Card": function() {
					Stripe.createToken({
						number: $( ".card-number" ).val(),
						cvc: $(".cvc").val(),
						exp_month: $('.card-expiry-month').val(),
                        exp_year: $('.card-expiry-year').val(),
						name: $('.cardholder-name').val()
					}, stripeResponseHandler);
					$( this ).dialog( "close" );
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {
				allFields.val( "" );
			}
		});

		$( ".add_card" )
			.button()
			.click(function() {
				$( "#dialog-form" ).dialog( "open" );
			});
	});
function stripeResponseHandler(status, response) {
	console.log(response);
	$.ajax({
		url: "company/addCard/{{company.id}}",
		data: response,
		type: "POST"
	}).done(function(data){
		data = $.parseJSON(data);
		console.log(data);
		if(data['old'] != data['new'])
		{
			$('#last4').text(data['Last4']);
			$('#status').fadeToggle("slow").fadeToggle("slow");
		}
	});
}
</script>
{% endblock %}