{% extends 'base.html.twig' %}

{% block body %}
<h2>{{company.name}}</h2>
<p>Card on File:
{% if company.last4 == null %}
None <button class="add_card">Add a Card</button>
{% else %}
<span id="last4">************{{company.last4}}</span><span id="status" style="display: none;">Updated</span> <button class="add_card">Update Card</button>
{% endif %}
<br /><br />
Current Users: {{usercount}} <button class="add_user">New user</button>
<ul class="users">
	{% for user in users %}
		<li id="{{user.id}}"><a href="/user/view/{{user.id}}">{{user.name}}</a>{% if user.id != app.user.id %} | <a href="javascript:deleteUser('{{user.id}}')">Delete</a>{%endif%}</li>
	{% endfor %}
	</ul>
<div id="dialog-form" title="Add a Card" style="display: none;">
	<p class="validateTips">All form fields are required.</p>

	<form>
	<fieldset>
		<Label>Cardholder Name</label>
		<input type="text" class="cardholder-name">
		<label>Card Number</label>
		<input type="text" class="card-number">
		<label>Expiration (MM/YYYY)</label>
		<input type="text" size="2" max="2" class="card-expiry-month" style="width: 30px;"/>
		<span> / </span>
		<input type="text" size="4" max="4" class="card-expiry-year" style="width: 50px;"/>
		<label>CVC</label>
		<input type="text" class="cvc" max="4" size="4">
	</fieldset>
	</form>
</div>

<div id="user_form" title="New User" style="display: none;">
	<p class="validateTips">All form fields are required.</p>

	<form>
	<fieldset>
		<label>Name</label>
		<input type="text" name="name" id="name">
		<Label>Email</label>
		<input type="text" name="email" id="email">
		<label>User Level</label>
		<select name="level" id="level">
		<option value="1">Basic</option>
		<option value="2">Operator</option>
		<option value="3">Manager</option>
		</select>
	</fieldset>
	</form>
	
</div>

{#
	<pre>
	{{dump(company)}}
</pre>
#}
{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
//live key
Stripe.setPublishableKey('pk_iOeM8zk9ybZLiIfFhKmbBKpw45kFE');

$(document).ready(function() {

		var name = $( ".cardholder-name" ),
			card = $( ".card-number" ),
			month = $( ".card-expiry-month" ),
			year = $(".card-expiry-year"),
			cvc = $(".cvc"),
			username = $("#name"),
			email = $("#email"),
			level = $("#level"),
			allFields = $( [] ).add( card ).add( month ).add( year ).add( cvc ).add( name ).add(username).add(email).add(level);
		$("#user_form").dialog({
			autoOpen: false,
			height: 400,
			width: 250,
			modal: true,
			buttons: {
				"Add User": function() {
				$.ajax({
					url: "user/new",
					data: {name: $("#name").val(), email: $("#email").val(), level: $("#level").val()},
					type: "POST"
				}).done(function(data){

					console.log(data);
					if(data != 'false') {
						data = $.parseJSON(data);
						$('.users').append('<li id="' + data['id'] + '"><a href="/user/view/'+data['id']+'">'+data['name']+'</a> | <a href="javascript:deleteUser(' + "'" + data['id'] + "'" + ')">Delete</a></li>');
					
					}
				});
					$( this ).dialog( "close" );
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {
				allFields.val( "" );
			}
		});
		
		$( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 400,
			width: 250,
			modal: true,
			buttons: {
				"Add a Card": function() {
					Stripe.createToken({
						number: $( ".card-number" ).val(),
						cvc: $(".cvc").val(),
						exp_month: $('.card-expiry-month').val(),
                        exp_year: $('.card-expiry-year').val(),
						name: $('.cardholder-name').val()
					}, stripeResponseHandler);
					$( this ).dialog( "close" );
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {
				allFields.val( "" );
			}
		});
		$( ".add_user")
		.button()
		.click(function() {
			$( "#user_form" ).dialog( "open" );
		});
		
		$( ".add_card" )
			.button()
			.click(function() {
				$( "#dialog-form" ).dialog( "open" );
			});
	});
function stripeResponseHandler(status, response) {
	console.log(response);
	$.ajax({
		url: "company/addCard/{{company.id}}",
		data: response,
		type: "POST"
	}).done(function(data){
		console.log(data);
		data = $.parseJSON(data);
		console.log('test2');
		console.log(data);
		if(data['old'] != data['new'])
		{
			$('#last4').text(data['Last4']);
			$('#status').fadeToggle("slow").fadeToggle("slow");
		}
	});
}
function deleteUser(id) {
		console.log(id);
	if (window.confirm("Are you sure you want to delete this user?")){
		$.post(
			'{{app.system.protocol}}://{{app.system.path}}/api/user?action=delete',
			{id: id},
			function(data) {
				if(data == 'true') {
					$('#' + id).remove();
				}
			}
		);
	}
}
</script>
{% endblock %}