<html>
<head>
<title>{{title}} - VC Manager</title>
{% block stylesheets %}
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/assets/css/smoothness/jquery-ui-1.8.22.custom.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">
{% endblock %}
</head>
<body>
<div class="container">
	<div class="row">
		<div class="span10">
			<ul class="nav nav-tabs">
			{% block nav %}
				
				<li{% if app.page == 'default' %} class="active"{% endif %}><a href="/home">Dashboard</a></li>
				<li{% if app.page == 'devices' %} class="active"{% endif %}><a href="/devices">Devices</a></li>
				<li{% if app.page == 'events' %} class="active"{% endif %}><a href="/events">Events</a></li>
				{% if app.user.level > 2 %}<li{% if app.page == 'company' %} class="active"{% endif %}><a href="/company">Company</a></li>
{% endif %}
				{% if app.user.level == 4 %}<li{% if app.page == 'admin' %} class="active"{% endif %}><a href="/admin">AdminCP</a></li>
{% endif %}
				<li><a href="/user/view/{{app.user.id}}">Profile</a></li>
				<li><a href="/user/logout">Logout</a></li>
{% endblock %}
			</ul>
		</div>
		<div class="span2">
{% block afternav %}

{% endblock %}
		</div>
	</div>
{% block banner %}

{% endblock %}
{% for error in errors %}
	<div class="span10 offset1 error">
		{{error}}
	</div>
{% endfor %}
{% for message in flash %}
	<div class="span10 offset1 flash">
		{{message}}
	</div>
{% endfor %}
	<div class="row">
		{% block body %}

		{% endblock %}
	</div>
</div>
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
	<!-- {{app.system.load_time }} -->
{% endblock %}
{#
<pre>{{dump()}}</pre>
#}

</body>
</html>