<html>
<head>
<title>{{title}} - VC Manager</title>
{% block stylesheets %}
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/assets/css/smoothness/jquery-ui-1.8.22.custom.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">
{% endblock %}
{% if app.user.level == 4 %}
<style>
	.title{
		font-weight: bold;
		font-size: 1.1em;	
	}
	.adminBar{
		height: 50px;
		background: #ccc;
		margin-left: 5px;
		margin-right: 5px;
		padding-top: 15px;
		padding-left: 5px;
		border: 1px solid #000;
	}
</style>
{% endif %}
</head>
<body>
	{% if app.user.level == 4 %}
	<div id="headerBar"></div>
	{% endif %}
<div class="container">
	<div class="row">
		<div class="span10">
			<ul class="nav nav-tabs">
			{% block nav %}
				
				<li{% if app.page == 'default' %} class="active"{% endif %}><a href="/home">Dashboard</a></li>
				<li{% if app.page == 'devices' %} class="active"{% endif %}><a href="/devices">Devices</a></li>
				{#
				<li{% if app.page == 'events' %} class="active"{% endif %}><a href="/events">Events</a></li>
				#}
				{% if app.user.level > 2 %}<li{% if app.page == 'company' %} class="active"{% endif %}><a href="/company">Company</a></li>
{% endif %}
				<li><a href="/user/view/{{app.user.id}}">Profile</a></li>
				<li><a href="/user/logout">Logout</a></li>
{% endblock %}
			</ul>
		</div>
		<div class="span2">
{% block afternav %}

{% endblock %}
		</div>
	</div>
{% block banner %}

{% endblock %}
{% for error in errors %}
	<div class="span10 offset1 error">
		{{error}}
	</div>
{% endfor %}
{% set previous = "" %}
{% for message in flash %}
	{% if previous != message %}
	<div class="span10 offset1 flash">
		{{message}}
	</div>
	{% endif %}
	{% set previous = message %}
{% endfor %}
	<div class="row">
		{% block body %}

		{% endblock %}
	</div>
</div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/highstock.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/jquery.hotkey.js"></script>
{% endblock %}
{% if app.user.level == 4 %}
<script type="text/javascript">
var adminVisible = 0;
$(document).bind('keydown', function(e){
    var code = (e.keyCode ? e.keyCode : e.which);
    //console.log(code);
    if (code == 115) { 
		if (adminVisible == 1) {
			console.log('remove');
			$('#headerBar').html('');
			//$(".adminBar").css('display','none');
			adminVisible = 0;
		} else {
			$('#headerBar').html('<div class="adminBar"><span class="title">DB Time:</span> {{app.db_data.meta.time}} | <span class="title">DB Queries:</span> <a id="queries" title="{% for query in app.db_data %}{{query.entry}} ( {{query.time}} ms )\n\n{%endfor%}">{{app.db_data.meta.count}}</a> | <span class="title">Load Time:</span> {{app.system.load_time}} secs | <span class="title">CompanyId</span> <input type="text" id="compId" value="{{app.company.id}}"><a href="javascript:updateCompanyId()">Update</a> | New Relic: {{app.new_relic}} | Transaction: {{app.transaction}}</div>');
			console.log("add");
			//$(".adminBar").css('display','block');
			adminVisible=1;
		}
	}
});
var company_update = "{{app.system.protocol}}://{{app.system.path}}/apiv2/users/{{app.user.id}}/changeCompany?accessId={{app.accessId}}&expires={{app.long_expire}}&signature={{app.long_sig}}";
function updateCompanyId() {
	var newId = $("#compId").val();
	console.log("Updating to " + newId + "!");
	$.ajax({
		url: company_update,
		data: {company_id: newId, id: '{{app.user.id}}'},
		type: "PUT"
	}).done(function(data){

		console.log(data);
		if(data != 'false') {
			/*
			data = $.parseJSON(data);
			$('.users').append('<li id="' + data['id'] + '"><a href="/user/view/'+data['id']+'">'+data['name']+'</a> | <a href="javascript:deleteUser(' + "'" + data['id'] + "'" + ')">Delete</a></li>');*/
		
		}
	});
}
$( document ).ready(function() {
	$("#queries").tooltip();
	/*{
		content: 'SSH is the protocol ControlVC uses to connect to devices'
	});*/
});
</script>
{% endif %}
{#
<pre>{{dump(app)}}</pre>
#}

</body>
</html>