<!DOCTYPE html>
<html lang="en">
<head>
<title>
	{% block title%}{%endblock%} - ControlVC
</title>
{% block stylesheets %}
	<link href="{{root}}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{root}}assets/css/main.css" rel="stylesheet">
{% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="http://control.vc">ControlVC</a>
			{% if active != 'login' %}
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="{% if active == 'dashboard' %}active{%endif%}">
						<a href="{{root}}">Dashboard</a>
					</li>
					
				</ul>
			</div>
			{% endif %}
		</div>
	</div>
</div>

<div class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			{% block name %}Dashboard
{% endblock %}
		</h1>
	</div>
</div>
{%for err in errors %}
	<div class="error">
		<p>{{err}}</p>
	</div>
{% endfor %}
<div class="container" id="body">
{% block body %}
Hello World!
{% endblock %}
<pre>
	{{dump()}}
</pre>
</div>
{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	<script src="{{root}}assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>