<!DOCTYPE html>
<html lang="en">
<head>
<title>
	{% block title%}{%endblock%} - ControlVC
</title>
{% block stylesheets %}
	<link rel="stylesheet" href="{{root}}assets/css/jquery-ui.css" />
	<link href="{{root}}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{root}}assets/css/main.css" rel="stylesheet">
{% endblock %}
<style>
{% if headercolor == null%}
	{% set headercolor = "99ccff"%}
{%endif %}
html {
	-webkit-print-color-adjust: exact;
}
	.jumbotron{

		background: -moz-linear-gradient(45deg,  #2B1B17 0%, #{{headercolor}} 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#2B1B17), color-stop(100%,#{{headercolor}})); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(45deg,  #2B1B17 0%,#{{headercolor}} 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(45deg,  #2B1B17 0%,#{{headercolor}} 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(45deg,  #2B1B17 0%,#{{headercolor}} 100%); /* IE10+ */
		background: linear-gradient(45deg,  #2B1B17 0%,#{{headercolor}} 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2B1B17', endColorstr='#{{headercolor}}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
		-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
		box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	}
	</style>
	{% if app.user.level == 0 %}
<style>
	.adminBar{
		min-height: 30px;
		background: #ccc;
		margin-left: 5px;
		margin-right: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 5px;
		border: 1px solid #000;
	}
</style>
{% endif %}
{% if active != 'login' and active != 'register'%}
<!-- start Mixpanel -->
<script type="text/javascript">
(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f? g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("eded07b033c690bd0e255bdc354007fb");

mixpanel.people.identify("{{user.id}}");
mixpanel.people.set({
    "$email": "{{user.email}}",
    "company": "{{user.as}}",
    "plan":"{{user.plan}}"
});
</script>
<!-- end Mixpanel -->
{% endif %}
</head>
<body>{% if app.user.level == 0 %}
	<div id="headerBar"></div>
	{% endif %}
<div class="navbar navbar-inverse navbar-fixed-top noprint">
	<div class="navbar-inner">
		{% if perms b-and app.permissions['admin/index'] %}
			<a href="{{root}}admin" class="pull-right btn btn-info">Admin</a>
		{% endif %}
		<div class="container">
			{% block afterbrand %}{%endblock %}
			<a class="brand" href="http://control.vc">ControlVC</a>
			{% if active != 'login' and active != 'register'%}
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="{% if active == 'dashboard' %}active{%endif%}">
						<a href="{{root}}">Dashboard</a>
					</li>
					<li class="{% if active == 'devices' %}active{%endif%}">
						<a href="{{root}}devices">Devices</a>
					</li>
					<li class="{% if active == 'alarms' %}active{%endif%}">
						<a href="{{root}}alarms">Alarms</a>
					</li>
					<li class="{% if active == 'me' %}active{%endif%}">
						<a href="{{root}}me">Profile</a>
					</li>
					{% if perms b-and app.permissions['company/index'] %}
					<li class="{% if active == 'company' %}active{%endif%}">
						<a href="{{root}}company">Company</a>
					</li>
					{% if perms b-and app.permissions['users/index'] %}
					<li class="{% if active == 'users' %}active{%endif%}">
						<a href="{{root}}users">Users</a>
					</li>
					{% endif %}
					{% endif %}
					
					<li>
						<a href="{{root}}logout">Logout</a>
					</li>
				</ul>
			</div>
			{% endif %}
		</div>
	</div>
</div>

<div class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			{% block name %}Dashboard
{% endblock %}
		</h1>
		<div class="span2 offset1" style="float: right">
			{% block offset %}{% endblock %}
		</div>
	</div>
</div>
<div class="container">
	{%for err in errors %}
		<div class="span10 offset1">
			<div class="error">
				<p>{{err}}</p>
			</div>
		</div>
	{% endfor %}
	{%for err in flash %}
		<div class="span10 offset1">
			<div class="flash">
				<p>{{err}}</p>
			</div>
		</div>
	{% endfor %}
</div>
<div class="container" id="body">
{% block body %}
Hello World!<br/>You haven't overridden the body block!
{% endblock %}

</div>
{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	<script src="{{root}}assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
{%  if perms b-and app.permissions['admin/index']%}
 <script src="https://dlewcy1lx1kqi.cloudfront.net/js/jquery.hotkey.js"></script>
<script type="text/javascript">
var adminVisible = 0;
$(document).bind('keydown', function(e){
    var code = (e.keyCode ? e.keyCode : e.which);
    //console.log(code);
    if (code == 115) { 
		if (adminVisible == 1) {
			//console.log('remove');
			$('#headerBar').html('');
			//$(".adminBar").css('display','none');
			adminVisible = 0;
		} else {
			$('#headerBar').html('<div class="adminBar navbar-fixed-bottom"><span style="font-weight: bold;font-size: 1.1em;">DB Time:</span> {{db_data.meta.time}} | <span style="font-weight: bold;font-size: 1.1em;">DB Queries:</span> {{db_data.meta.count}} | <span style="font-weight: bold;font-size: 1.1em;">Load Time:</span> {{app.run_time}} secs</div>');
			//console.log("add");
			//$(".adminBar").css('display','block');
			adminVisible=1;
		}
	}
});
</script>
{% endif %}

</body>
</html>